node_modules

.DS_Store
.cache
.vercel
.output
.nitro
build
dist
coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack

.source
.env.local
.env.development.local
.env.test.local
.env.production.local